.login-card {
  padding: 60px !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1.title,
.footer-copyright a {
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  font-weight: 900;
}

.loginBtn {
  z-index: 0;
}

.center-align {
  z-index: 1;
}

@media (max-width: 500px) {
  .hello-block p,
  .hello-block h2 {
    text-align: center !important;
    font-size: 2rem;
  }

  .hello-text {
    font-size: 36px;
    text-align: center !important;
  }

  .google-login-button button {
    margin-top: 20px;
    font-size: 50px !important;
    padding: 4px 32px !important;
  }

  .google-login-button button svg {
    transform: scale(1.9);
    margin-bottom: 9px;
  }

  .homepage__filters-holder .s3 {
    width: 100% !important;
  }

  .homepage__filters-holder .s3 .input-field i {
    display: none;
  }

  .homepage__filters-holder .s3 .input-field input {
    margin-left: 0;
    width: 100%;
  }

  .homepage__filters-holder .s3 .input-field label {
    margin-left: 0;
  }

  .homepage__filters-holder .row {
    margin-bottom: 10px;
  }

  .homepage__filters-holder .ant-select {
    margin-top: 0 !important;
  }

  .listing-row .acard {
    width: 50% !important;
    min-width: 50%;
  }

  .content__announcement-create {
    width: 95% !important;
  }
}
