.card img {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
}

.btn--w200 {
  width: 200px !important;
}

.card-title {
  background-color: rgba(0, 0, 0, .25);
}

.listing-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.acard {
  width: 25%;
  min-width: 200px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.acard__image-container {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.acard__image-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.acard__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.acard__add-to-favourites {
  position: absolute;
  right: 5px !important;
  top: 5px !important;
}

.acard__delete {
  position: absolute;
  left: 5px !important;
  top: 5px !important;
}

.acard__date {
  color: #999999;
  margin: 0;
  text-transform: none;
}

.acard__title {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: #009cf0;
  font-weight: 700;
  text-transform: capitalize;
}

.acard__category {
  margin: 0;
}

.add-to-favorites {
  color: #2196f3 !important;
  background-color: transparent !important;
}

.acard__delete--icon {
  color: #f44336 !important;
  background-color: transparent !important;
}

.acard__price {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
