nav {
  background: #03a9f4;
  z-index: 2;
}

.nav-wrapper--custom {
  padding: 0 10px 0 10px;
}

.main-app--container {
  margin-top: 24px;
}

.search-bar {
  width: 300px;
  margin-left: 300px !important;
  color: white !important;
}

.search-bar label {
  color: white !important;
  top: -12px !important;
}

.search-bar input {
  border-color: white !important;
}

.search-bar i {
  color: white !important;
  top: 0 !important;
}

.userTop--block {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.userTop--block span {
  font-size: 1.1rem;
}

.userIcon {
  background: white;
  height: 40px;
  width: 40px;
  margin: 12px;
  right: 0;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  padding: 0;
}

.userIcon img {
  width: 100%;
  height: auto;
  z-index: 1;
}

.userIcon i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin: 0 auto;
  position: absolute;
  font-size: 32px;
  top: 0;
  left: 0;
}

.sell-btn {
  position: absolute;
  height: 36px;
  margin: auto;
  bottom: 0;
  top: 0;
  right: 222px;
}

.sell-btn:hover {
  color: #fff !important;
}

.brand-logo a {
  color: white !important;
}

@media (max-width: 993px) {
  .sell-btn {
    display: none;
  }
}

#dropdown1 {
  width: 200px !important;
}

.brand-logo {
  color: white !important;
}

.OK a {
  color: white !important;
}

.lesson-content p {
  margin-top: 20px;
  margin-bottom: 6px;
  font-weight: bold;
}

.OK {
  left: 90px !important;
  bottom: 20px !important;
  margin: unset;
}

@media (max-width: 2000px) {
  .lesson-content {
    display: none !important;
  }

  .lesson-content img {
    opacity: 0;
  }

  .lesson-content {
    right: 0 !important;
    left: 0 !important;
    margin: auto;
    top: 228px !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    background-size: contain !important;
    max-width: 500px;
    width: 90% !important;
  }

  .lesson-content-1 {
    background-image: url('https://sun9-29.userapi.com/c857732/v857732917/1dcd50/UiX9asktRwY.jpg') !important;
  }

  .lesson-content-2 {
    background-image: url('https://sun9-5.userapi.com/c857732/v857732917/1dcd8b/cWpk0C6g2a8.jpg') !important;
  }

  .lesson-content-3 {
    background-image: url('https://sun9-34.userapi.com/c857732/v857732917/1dcd6d/XpncOHpj44A.jpg') !important;
  }

  .lesson-content-4 {
    background-image: url('https://sun9-14.userapi.com/c857732/v857732917/1dcd92/7yNZ2nNllpk.jpg') !important;
  }

  .lesson-content-5 {
    background-image: url('https://sun9-3.userapi.com/c857732/v857732917/1dcd84/D3AqCYcN8Ks.jpg') !important;
  }

  .lesson-content-6 {
    background-image: url('https://sun9-50.userapi.com/c857732/v857732917/1dcd7d/VXTL1PrxN_Y.jpg') !important;
  }

  .lesson-content-7 {
    background-image: url('https://sun9-29.userapi.com/c857732/v857732917/1dcd50/UiX9asktRwY.jpg') !important;
  }

  .lesson-content-8 {
    background-image: url('https://sun9-29.userapi.com/c857732/v857732917/1dcd50/UiX9asktRwY.jpg') !important;
  }
}

@media (max-width: 500px) {
  .announcement_page--footer {
    flex-direction: column;
  }

  .announcement_page--footer .btn {
    min-width: 100%;
  }

  .announcement_page--footer .col,
  .announcement_page--footer .s2,
  .announcement_page--footer .s4 {
    min-width: 100%;
    margin-bottom: 10px;
  }

  .bottom-modal__container:not(.bottom-modal__container--active) {
    bottom: -64%;
  }

  .bottom-modal__container {
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 64%;
  }

  .modal-reserve-announcement h4 {
    font-size: 18px;
    text-align: center;
  }

  .modal-reserve-announcement blockquote h4 {
    font-size: 16px;
  }

  .modal-reserve-announcement .s4,
  .modal-reserve-announcement .s8,
  .modal-reserve-announcement .s12 {
    min-width: 100%;
  }

  .lesson-content {
    display: block !important;
  }

  .OK {
    left: 0 !important;
    right: 0 !important;
    bottom: 20px !important;
    margin: auto;
  }

  .login-flow-text {
    text-align: center;
  }

  .userNameText {
    display: none;
  }

  .userIcon {
    margin: 0;
    margin-top: 7px;
    margin-right: 7px;
  }

  .main-app--container .content {
    margin-left: 0;
    margin-right: 0;
  }

  .announcement-page__header-row-col-on-mob {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .announcement-page__header-row__left {
    align-items: flex-start !important;
    margin-bottom: 10px;
  }

  .announcement-page__header-row__right {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 15px;
  }

  .announcement-page__header-row__right .btn--w200 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 10px;
  }

  .description-block {
    flex-direction: column;
  }

  .listing__description {
    padding-left: 0;
    padding-right: 0;
  }

  .user-announcements {
    padding-top: 73px;
  }

  .user-announcements .btn {
    width: 100%;
  }

  .z-depth-3.left__menu.light-blue.lighten-3.left__menu--active {
    overflow-y: scroll;
    height: calc(100vh - 56px) !important;
    min-height: calc(100vh - 56px) !important;
    padding-bottom: 10px;
    top: 56px;
    width: 90%;
    margin: 0 5%;
    margin-left: 0;
    border-radius: 3px;
  }

  .lesson-bg {
    top: 56px !important;
  }

  .allow-torg-col {
    width: 100% !important;
  }

  .ant-tabs-nav.ant-tabs-nav-animated {
    margin-left: 30px;
  }

  .left__menu-button {
    right: 5px !important;
    bottom: 5px !important;
    position: fixed !important;
    width: 56px;
    display: block;
    height: 56px;
    top: unset;
    left: unset;
  }

  .balance-info__title {
    text-align: center;
    margin-bottom: 10px;
  }

  .acard__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .announcement-page__header-row__left p {
    width: 100%;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }

  .announcement-page__header-row__left p .listing__key {
    color: #797979;
  }

  .listing__header {
    margin-bottom: 0;
  }

  .description-block__key {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
  }

  .user-account__modal-container.user-account__modal-container--active {
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 306px;
  }

  .user-account__modal-container.user-account__modal-container--active .col.s8.input-field {
    width: 100%;
  }

  .user-account__modal-container.user-account__modal-container--active .btn.red {
    width: 100%;
  }

  .user-account__modal-title {
    font-size: 16px;
    top: 10px;
  }

  .lesson-content {
    right: 0 !important;
    left: 0 !important;
    margin: auto;
    background-repeat: no-repeat !important;
    background-position: top !important;
    background-size: contain !important;
    width: 90%;
    top: 135px !important;
  }

  .OK {
    position: fixed;
    left: 0;
    right: 0;
    width: 175px;
    margin: auto;
    bottom: 42px;
    cursor: pointer;
  }

  .OK .btn {
    width: 100%;
  }

  .lesson-content-1 {
    background-image: url('https://sun3-12.userapi.com/BNW5Zb4Yp7f_HNjESr6Dc81EQI71k7vJVSzidA/aZkNhveds58.jpg') !important;
  }

  .lesson-content-2 {
    background-image: url('https://sun3-10.userapi.com/Z_HEwZtNY2VWfYb3zrdfB4H4jGy1QgHuTshkQQ/j08HwZct4nA.jpg') !important;
  }

  .lesson-content-3 {
    background-image: url('https://sun3-10.userapi.com/q6eVbhpC6xZlvRUcZ4sXyOk60T8vIWgdURXD1A/OCl2ztBOpoE.jpg') !important;
  }

  .lesson-content-4 {
    background-image: url('https://sun3-10.userapi.com/l6grk6K1DFEll4MlbLEGq-d-oihDAsxtumzsdg/3THEGChpGaw.jpg') !important;
  }

  .lesson-content-5 {
    background-image: url('https://sun9-24.userapi.com/lJtMiQezJ9cPxQrRts9-n4BGU0j0_8tAKt-7AQ/MJGP70yl8Pk.jpg') !important;
  }

  .lesson-content-6 {
    background-image: url('https://sun3-11.userapi.com/besrl8QC38c8N3RUJ55TKsbm2Rh4on5GLyEbtQ/aItJzFk0woM.jpg') !important;
  }

  .lesson-content-7 {
    background-image: url('https://sun9-46.userapi.com/Z6nme6Cccx_fmpmliEaIm_mrYwuDXYX9bWqVKQ/3aXeGcFly7M.jpg') !important;
  }

  .lesson-content-8 {
    background-image: url('https://sun9-65.userapi.com/VgIw97-6uxMa93g_IAMhqacRFBfsn3HiuB4agg/sIb9HnwfjmQ.jpg') !important;
  }

  .lesson-content-9 {
    background-image: url('https://sun3-12.userapi.com/nw2G4HUiaj0kil23azLcXnG6kRelMcVLXCNNrw/4aZp1OlJcaM.jpg') !important;
  }

  .lesson-content-10 {
    background-image: url('https://sun3-11.userapi.com/QbKONd1D0vbFFiNsKVEkYOwzNdS6pfqwf8repg/fFBz7e-XVbU.jpg') !important;
  }

  .lesson-content img {
    opacity: 0;
  }
}
