.container {
  width: 100%;
  margin: unset !important;
  max-width: unset !important;
}

.content {
  margin: 20px 30px 0 30px;
}

.user-account--content {
  width: 100%;
}

.listing {
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}

.listing__body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.listing__photo-wrapper {
  width: 200px;
  height: 200px;
}

.listing__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listing__price {
  font-size: 18px;
  font-weight: bold;
}

.listing__name {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #797979;
  text-transform: capitalize;
}

.listing__status {
  width: fit-content;
  background-color: #a3a3a3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 3px 7px;
  border-radius: 2px;
}

.main-container {
  display: flex;
}

.left__menu {
  display: flex;
  padding: 20px 30px;
  min-width: 290px;
  max-width: 340px;
  min-height: 100vh;
}

.left__menu-button {
  display: none;
  position: fixed;
  top: 75px;
  z-index: 9;
}

.content__blur {
  display: none;
}

@media (max-width: 991px) {
  .left__menu {
    left: -400px;
    position: fixed;
    transition: 1s;
    z-index: 8;
    height: 100%;
    top: 60px;
  }

  .left__menu.left__menu--active {
    left: 0;
    transition: 1s;
  }

  .left__menu-button {
    display: flex;
    left: 20px;
    right: unset;
    transition: .7s;
  }

  .left__menu-button.left__menu-button--active {
    left: unset;
    left: calc(100% - 65px);
    transition: 1s;
  }

  .content__blur.content__blur--active {
    display: block;
    z-index: 7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
  }
}

.right {
  flex-grow: 1;
}

.user-info {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.user-info img {
  width: 150px;
  margin-top: 20px;
}

.rating__value {
  line-height: 22px;
  font-weight: 700;
  font-size: 22px;
  display: flex;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.user__rating {
  /* display: none; */
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
}

.user__nav {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.user__nav a {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user__nav a:last-child {
  margin-bottom: 0;
}

.user__nav .divider {
  margin-bottom: 8px;
}

.graytext {
  color: #8f8f8f;
  font-size: 20px;
  margin-left: 8px;
}

.star:hover {
  fill: #fff404 !important;
}

.block__caption {
  color: #8f8f8f;
  font-size: 14px;
  margin: 0;
}

.alert-img {
  margin: auto;
  display: block;
}

.collapsible-header:last-child {
  border-bottom: none !important;
}

.is-active {
  color: #000000;
}

.not-implemented-ph {
  display: block;
  width: 80%;
  height: auto;
  margin: 30px auto 0;
}

.balance-info__title {
  font-size: 18px;
}

.balance-info__title span {
  margin-left: 10px;
  font-weight: bold;
}

.balance-info__row {
  width: 100%;
  margin-top: 12px;
  border-bottom: 3px solid #06a8f4;
  justify-content: space-between;
  display: flex;
}

.balance-info__row span:not(:first-child) {
  margin-left: 10px;
}

.OK {
  position: fixed;
  left: 0;
  right: 0;
  width: 100px;
  margin: auto;
  bottom: 200px;
  cursor: pointer;
}

.lesson-content-1 {
  left: 69px !important;
  top: 245px !important;
}

.lesson-content-2 {
  left: 69px !important;
  top: 295px !important;
}

.lesson-content-3 {
  left: 69px !important;
  top: 357px !important;
}

.lesson-content-4 {
  left: 69px !important;
  top: 419px !important;
}

.lesson-content-5 {
  left: 69px !important;
  top: 477px !important;
}

.lesson-content-6 {
  left: 69px !important;
  top: 563px !important;
}

.lesson-content span {
  font-size: 16px;
  font-weight: bold;
  color: #039be5;
}

.user-account__modal-container {
  position: fixed;
  height: 50%;
  width: 45%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px;
  justify-content: center;
  z-index: 12;
  border: 1px solid #a3a3a3;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: visibility .4s opacity .8s linear;
}

.user-account__modal-container.user-account__modal-container--active {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.user-account__modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  z-index: 11;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s opacity .5 linear;
}

.user-account__modal-bg.user-account__modal-bg--active {
  display: block;
  opacity: 1;
  visibility: visible;
}

.user-account__modal-btn-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.user-account__modal-title {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  font-size: 40px;
}

.collapsible .popout li {
  margin-bottom: 12px;
}

.collapsible-header {
  position: relative;
}
