.notification-card {
  width: 100%;
  padding: 10px;
  /*background-color: red;*/
  border: 1px solid #03a9f4;
}

.notification__header {
  margin-bottom: 10px;
}

.notification__row {
  display: flex;
  width: 100%;
  align-items: center;
}

.notification__row p b {
  margin-right: 5px;
}

.notification__row b {
  margin-right: 5px;
}

.rounded-border {
  border-radius: 10px;
}

.notification__row i {
  padding: 4px;
  margin-right: 10px;
}

.notification__header img {
  width: 60px;
  height: 60px;
  object-fit: fill;
  margin-right: 10px;
}

.profile-photo {
  width: 32px;
  height: 32px;
}

.notification__row .profile-photo {
  margin-right: 10px;
}

.notification__row .name {
  color: #2a2a2a;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.notification__row .date {
  color: grey;
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
  vertical-align: text-top;
}

.fcol {
  display: flex;
  flex-direction: column;
}
