<html
        xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <style type='text/css'>
        * { font-family: 'Arimo'; }
    </style>
</head>


<body lang="RU" link="blue" vlink="#954F72" style='tab-interval:20.25pt;text-justify-trim:
punctuation'>

<div class="WordSection1">

    <p  align="center" style='text-align:center;mso-outline-level:
1'><b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt'>Договор
</span></b><span style='font-size:12.0pt'>№ <span th:text="${numDog}"></span><b style='mso-bidi-font-weight:
normal'></b></span></p>

    <p  align="center" style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:12.0pt'><span
            style='color:windowtext;text-decoration:none;text-underline:none'>купли-продажи товара</span></span></b></p>

    <p style='text-indent:20.25pt'> <span th:text="'Гражданин ' + ${sellerName}"></span>,<span>
именуемый в дальнейшем «<b>Продавец</b>», с одной стороны, и Гражданин <span th:text="${buyerName}"></span>,
именуемый в дальнейшем «<b>Покупатель</b>», с другой стороны, именуемые в дальнейшем
«Стороны», заключили настоящий договор, в дальнейшем «Договор» , о
нижеследующем: </span></p>

    <p  align="center" style='margin-left:0;text-align:center;
text-indent:0;mso-list:l7 level1 lfo1;tab-stops:list 21.75pt'><b
            style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt'><span
            style='mso-list:Ignore'>1.<span style='font:7.0pt "Times New Roman"'>
</span></span></span></b><b style='mso-bidi-font-weight:normal'><span
            style='font-size:12.0pt'>Предмет настоящего договора</span></b></p>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l11 level2 lfo2;tab-stops:list 40.5pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>1.1.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Продавец обязуется передать <span th:text="${product}"></span>,
        именуемый в дальнейшем «<b>Товар</b>», в
собственность Покупателю, а Покупатель обязуется принять этот товар и
уплатить за него денежную сумму в размере <span th:text="${price}"></span> руб.</span></p>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <p  align="center" style='margin-left:0;text-align:center;
text-indent:0;mso-list:l11 level1 lfo2;tab-stops:list 21.75pt'><b
            style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt'><span
            style='mso-list:Ignore'>2.<span style='font:7.0pt "Times New Roman"'>
</span></span></span></b><b style='mso-bidi-font-weight:normal'><span
            style='font-size:12.0pt'>Права и обязанности Продавца и Покупателя</span></b></p>

    <p ><b style='mso-bidi-font-weight:normal'><span
            style='font-size:12.0pt'></span></b></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l11 level2 lfo2;tab-stops:list 40.5pt'><b
            style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt'><span
            style='mso-list:Ignore'>2.1.<span style='font:7.0pt "Times New Roman"'> </span></span></span></b><b
            style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt'>Права и обязанности
Покупателя</span></b></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l9 level3 lfo10;tab-stops:list 51.05pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>2.1.1.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Покупатель обязан принять переданный ему товар
, за исключением случаев, когда он вправе потребовать замены товара
или отказаться от исполнения настоящего договора.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l9 level3 lfo10;tab-stops:list 51.05pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>2.1.2.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Покупатель обязан совершить действия, которые в
соответствии с обычно предъявляемыми требованиями необходимы с его стороны для
обеспечения передачи и получения соответствующего товара.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l9 level3 lfo10;tab-stops:list 51.05pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>2.1.3.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Покупатель обязан известить Продавца о нарушении
условий настоящего договора о количестве, об ассортименте, о качестве,
комплектности товара в течение пяти рабочих дней с момента получения
товара.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l9 level3 lfo10;tab-stops:list 51.05pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>2.1.4.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Покупатель имеет и <span align="center">иные права</span>
и обязанности, предусмотренные действующим законодательством Российской
Федерации и настоящим договором.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l9 level2 lfo10;tab-stops:list 39.7pt'><b
            style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt'><span
            style='mso-list:Ignore'>2.2.<span style='font:7.0pt "Times New Roman"'> </span></span></span></b><b
            style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt'>Права и обязанности
Продавца</span></b></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l10 level3 lfo11;tab-stops:list 51.05pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>2.2.1.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Продавец вправе предоставить Покупателю информацию о
подтверждении соответствия товара установленным требованиям, сроках годности
или сроках службы. При непредставлении таких сведений Покупатель не вправе
отказаться от товара.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l10 level3 lfo11;tab-stops:list 51.05pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>2.2.2.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>В случаях, когда Покупатель в нарушение правовых актов
или настоящего договора не принимает товар или отказывается его
принять, Продавец вправе потребовать от Покупателя принять товар или
отказаться от исполнения настоящего договора.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l10 level3 lfo11;tab-stops:list 51.05pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>2.2.3.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Продавец имеет и <span align="center">иные права</span> и
обязанности, предусмотренные действующим законодательством Российской Федерации
и настоящим договором.</span></p>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <ol style='margin-top:0' start="3" type="1">
        <li  style='text-align:center;mso-list:l4 level1 lfo3;
     tab-stops:list 36.0pt'><b style='mso-bidi-font-weight:normal'><span
                style='font-size:12.0pt'>Цена товара </span></b></li>
    </ol>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l5 level2 lfo9;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>3.1.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Покупатель обязан оплатить товар  по цене, указанной
в счете Продавца, а также совершить за свой счет действия, которые в
соответствии с правовыми актами, настоящим договором или обычно предъявляемыми
требованиями необходимы для осуществления платежа.</span></p>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <ol style='margin-top:0' start="4" type="1">
        <li  style='text-align:center;mso-list:l4 level1 lfo3;
     tab-stops:list 36.0pt'><b style='mso-bidi-font-weight:normal'><span
                style='font-size:12.0pt'>Оплата товара </span></b></li>
    </ol>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l6 level2 lfo4;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>4.1.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Покупатель обязан уплатить Продавцу цену переданного
товара  полностью.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l6 level2 lfo4;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>4.2.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Если Покупатель в нарушение настоящего договора
отказывается принять товар , Продавец вправе отказаться от исполнения
настоящего договора.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l6 level2 lfo4;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>4.3.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Обязанность Покупателя по оплате товара
считается исполненной при поступлении денежных средств размере, указанном в счете
Продавца, на расчетный счет Продавца либо в кассу Продавца, если действующий на
момент оплаты порядок осуществления расчетов наличными деньгами допускает такую
возможность.</span></p>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <ol style='margin-top:0' start="5" type="1">
        <li  style='text-align:center;mso-list:l4 level1 lfo3;
     tab-stops:list 36.0pt'><b style='mso-bidi-font-weight:normal'><span
                style='font-size:12.0pt'>Особые условия настоящего договора</span></b></li>
    </ol>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l8 level2 lfo7;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>5.1.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Обязанность Продавца передать товар
Покупателю считается исполненной в момент предоставления товара  в
распоряжение Покупателя. Товар  считается предоставленным в
распоряжение Покупателя, если истек срок, предусмотренный пунктом 5.1
настоящего договора, товар  готов к передаче в надлежащем месте,
предусмотренном настоящим договором, и Покупатель в соответствии с условиями настоящего
договора осведомлен о готовности товара  к передаче. Товар  не
признается готовым к передаче, если он не идентифицирован для целей настоящего договора
путем маркировки или иным образом.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l8 level2 lfo7;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>5.2.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Если Продавец передал в нарушение настоящего договора
Покупателю меньшее количество товара , чем определено в счете Продавца,
то он обязан в течение десяти рабочих дней или иного срока, установленного
дополнительным соглашением Продавца и Покупателя, передать Покупателю
недостающее количество товара. Если по истечении срока,
предусмотренного настоящим пунктом, Продавец не передал недостающее количество
товара , то он обязан в течение пяти банковских дней возвратить Покупателю
денежную сумму в размере стоимости не переданного товара , указанной в
счете Продавца.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l8 level2 lfo7;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>5.3.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Если правовыми актами, обязательными требованиями
государственных стандартов предусмотрена обязанность Продавца проверить
качество товара , передаваемого Покупателю (испытание, анализ, осмотр
и т.п.), Продавец должен предоставить Покупателю доказательства осуществления
проверки качества товара.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l8 level2 lfo7;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>5.4.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Если на товар  не установлен гарантийный срок
или срок годности, требования, связанные с недостатками товара , могут
быть предъявлены Покупателем при условии, что недостатки проданного товара
 были обнаружены в течение трех месяцев со дня передачи товара
 Покупателю.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l8 level2 lfo7;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>5.5.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>В случае передачи некомплектного товара
Покупатель вправе потребовать от Продавца доукомплектования товара  в
течение одного месяца, если иной срок не установлен Продавцом и Покупателем дополнительным
соглашением к настоящему договору. Если Продавец в указанный срок не выполнил требования
Покупателя о доукомплектовании товара , Покупатель вправе потребовать
замены некомплектного товара  на комплектный.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l8 level2 lfo7;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>5.6.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>При наличии возможности Продавец передает Покупателю
товар  в таре и (или) упаковке, за исключением товара ,
который по своему характеру не требует затаривания и (или) упаковки. Специальные
требования к таре и упаковке настоящим договором не устанавливаются.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l8 level2 lfo7;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>5.7.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Исполнение своего обязательства может быть возложено
Продавцом на третье лицо. В этом случае Покупатель обязан принять исполнение,
предложенное за Продавца третьим лицом.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l8 level2 lfo7;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>5.8.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Продавцом и Покупателем дополнительным соглашением к
настоящему договору могут быть установлены и другие условия купли-продажи
товара.</span></p>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <ol style='margin-top:0' start="6" type="1">
        <li  style='text-align:center;mso-list:l4 level1 lfo3;
     tab-stops:list 36.0pt'><b style='mso-bidi-font-weight:normal'><span
                style='font-size:12.0pt'>Ответственность Продавца и Покупателя</span></b></li>
    </ol>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l3 level2 lfo6;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>6.1.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>За неисполнение или ненадлежащее исполнение обязательств
по настоящему договору Продавец и Покупатель несут ответственность,
предусмотренную гражданским законодательством Российской Федерации.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l3 level2 lfo6;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>6.2.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Продавец и Покупатель освобождаются от ответственности
за неисполнение или ненадлежащее исполнение обязательств по настоящему
договору, если это неисполнение или ненадлежащее исполнение явилось следствием
обстоятельств непреодолимой силы, возникших после заключения настоящего договора
в результате событий чрезвычайного характера, которые Продавец или Покупатель
не могли ни предвидеть, ни предотвратить разумными мерами (форс-мажор).</span></p>

    <p  style='mso-pagination:widow-orphan'><span style='font-size:
12.0pt;font-family:"Arial",sans-serif'></span></p>

    <ol style='margin-top:0' start="7" type="1">
        <li  style='text-align:center;mso-list:l4 level1 lfo3;
     tab-stops:list 36.0pt'><b style='mso-bidi-font-weight:normal'><span
                style='font-size:12.0pt'>Разрешение споров между Продавцом и Покупателем</span></b></li>
    </ol>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l1 level2 lfo5;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>7.1.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Продавец и Покупатель будут стремиться разрешать все
споры и разногласия, которые могут возникнуть при исполнении настоящего
договора, путем переговоров.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l1 level2 lfo5;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>7.2.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Если указанные споры и разногласия не могут быть
решены путем переговоров, то все иски, вытекающие из настоящего договора,
должны быть предъявлены Продавцом или Покупателем в арбитражный суд г. Москвы.</span></p>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <ol style='margin-top:0' start="8" type="1">
        <li  style='text-align:center;mso-list:l4 level1 lfo3;
     tab-stops:list 36.0pt'><b style='mso-bidi-font-weight:normal'><span
                style='font-size:12.0pt'>Заключительные положения</span></b></li>
    </ol>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l2 level2 lfo8;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>8.1.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Любые изменения и дополнения к настоящему договору
действительны лишь при условии, если они совершены в письменной форме и
подписаны надлежаще уполномоченными на то представителями Продавца и Покупателя.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l2 level2 lfo8;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>8.2.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Настоящий договор считается заключенным после подписания
Продавцом и Покупателем и с момента осуществления Покупателем оплаты
выставленного Продавцом счета для соответствующего товара. </span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l2 level2 lfo8;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>8.3.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Настоящий договор действует до <span style='color:
black'>момента окончания исполнения Продавцом и Покупателем своих обязательств.</span></span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l2 level2 lfo8;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>8.4.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Настоящий договор не является заключенным с условием
его исполнения к строго определенному сроку.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l2 level2 lfo8;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>8.5.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Настоящий договор подписан в двух экземплярах, имеющих
одинаковую юридическую силу, по одному для Продавца и Покупателя.</span></p>

    <p  style='margin-left:0;text-align:justify;text-indent:19.85pt;
mso-list:l2 level2 lfo8;tab-stops:list 45.35pt'><span
            style='font-size:12.0pt'><span style='mso-list:Ignore'>8.6.<span
            style='font:7.0pt "Times New Roman"'> </span></span></span><span
            style='font-size:12.0pt'>Во всем остальном, что не предусмотрено настоящим договором,
Продавец и Покупатель будут руководствоваться действующим законодательством
Российской Федерации.</span></p>

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <ol style='margin-top:0' start="9" type="1">
        <li  style='text-align:center;mso-list:l4 level1 lfo3;
     tab-stops:list 36.0pt'><b style='mso-bidi-font-weight:normal'><span
                style='font-size:12.0pt'>Реквизиты Продавца и Покупателя</span></b></li>
    </ol>

    <p  align="center" style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:12.0pt'></span></b></p>

    <table border="0" cellspacing="0" cellpadding="0"
           style='margin-left:5.4pt;border-collapse:collapse;mso-yfti-tbllook:480;
 mso-padding-alt:0 5.4pt 0 5.4pt'>
        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
            <td width="342" valign="top" style='width:256.85pt;padding:0 5.4pt 0 5.4pt'>
                <p  align="center" style='text-align:center'><span
                        style='font-size:12.0pt'>Продавец:</span></p>
                <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>
                <p  style='text-align:justify'><span style='font-size:12.0pt'>ФИО: <span th:text="${sellerName}"></span>
  </span></p>
                <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>
                <p  style='text-align:justify'><span style='font-size:12.0pt'>тел.: <span th:text="${sellerPhone}"></span>
  </span></p>
                <p ><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:12.0pt'></span></b></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'>Серия
  и номер паспорта: <span th:text="${sellerPassportNum}"></span></span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'></span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'>Кем
  выдан: ОТДЕЛОМ УФМС ПО СВЕРДЛОВСКОЙ ОБЛАСТИ</span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'></span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'>Когда
  выдан: <span th:text="${sellerPassportDate}"></span></span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'></span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'></span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'></span></p>
            </td>
            <td width="359" valign="top" style='width:269.35pt;padding:0 5.4pt 0 5.4pt'>
                <p  align="center" style='text-align:center'><span
                        style='font-size:12.0pt'>Покупатель:</span></p>
                <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>
                <p  style='text-align:justify'><span style='font-size:12.0pt'>ФИО: <span th:text="${buyerName}"></span>
  </span></p>
                <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>
                <p  style='text-align:justify'><span style='font-size:12.0pt'>тел.: <span th:text="${buyerPhone}"></span>
  </span></p>
                <p ><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:12.0pt'></span></b></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'>Серия
  и номер паспорта: <span th:text="${buyerPassportNum}"></span></span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'></span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'>Кем
  выдан: ОТДЕЛОМ УФМС ПО СВЕРДЛОВСКОЙ ОБЛАСТИ</span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'></span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'>Когда
  выдан: <span th:text="${buyerPassportDate}"></span></span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'></span></p>
                <p ><span style='font-size:12.0pt;mso-bidi-font-weight:bold'></span></p>
                <p ><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:12.0pt'></span></b></p>
            </td>
        </tr>
    </table>

    <p ><b style='mso-bidi-font-weight:normal'><span
            style='font-size:12.0pt'></span></b></p>

</div>

<b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:AR-SA'><span
        clear="all" style='page-break-before:auto;mso-break-type:section-break'>
</span></span></b>

<div class="WordSection2">

    <p  align="center" style='text-align:center;mso-outline-level:
1'><b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt'>Подписи
Продавца и Покупателя</span></b></p>

</div>

<b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:AR-SA'><span
        clear="all" style='page-break-before:auto;mso-break-type:section-break'>
</span></span></b>

<div class="WordSection3">

    <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>

    <table border="0" cellspacing="0" cellpadding="0" width="576"
           style='width:432.35pt;margin-left:5.4pt;border-collapse:collapse;mso-yfti-tbllook:
 480;mso-padding-alt:0 5.4pt 0 5.4pt'>
        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
            <td width="274" valign="top" style='width:205.55pt;padding:0 5.4pt 0 5.4pt'>
                <p  align="center" style='text-align:center'><span
                        style='font-size:12.0pt'>Продавец:</span></p>
                <p ><span style='font-size:12.0pt'></span></p>
                <p  align="center" style='text-align:center'><span
                        style='font-size:12.0pt'></span></p>
                <p  align="center" style='text-align:center'><span
                        style='font-size:12.0pt'>___________________</span></p>
                <p  align="center" style='text-align:center'><sup><span
                        style='font-size:12.0pt'>(подпись)</span></sup></p>
                <p  align="center" style='text-align:center'><span
                        style='font-size:12.0pt'>/ _________________ /</span></p>
                <p  style='text-align:justify'><span style='font-size:12.0pt'></span></p>
                <p  align="center" style='text-align:center'><span
                        style='font-size:12.0pt'><span th:text="${date}"></span></span></p>
            </td>
            <td width="302" valign="top" style='width:auto;padding:0 5.4pt 0 5.4pt'>
                <p  align="center" style='text-align:center'><span
                        style='font-size:12.0pt'>Покупатель:</span></p>
                <p  align="center" style='text-align:center'><span
                        style='font-size:12.0pt'></span></p>
                <p ><span style='font-size:12.0pt'></span></p>
                <p  align="center" style='text-align:center'><span
                        style='font-size:12.0pt'>_________________</span></p>
                <p  align="center" style='text-align:center'><sup><span
                        style='font-size:12.0pt'>(подпись)</span></sup></p>
                <p  align="center" style='text-align:center'><span
                        style='font-size:12.0pt'>/ _________________ /</span></p>
                <p  align="center" style='text-align:center'><sup><span
                        style='font-size:12.0pt'></span></sup></p>
                <p  align="center" style='text-align:center'><span class="SpellE"><span
                        style='font-size:12.0pt'><span th:text="${date}"></span></span></span><span style='font-size:12.0pt'>.</span></p>
            </td>
        </tr>
    </table>

    <p  style='text-align:justify'></p>

    <p  style='text-align:justify'></p>

</div>

</body>

</html>
