.content__announcement-create {
  width: 70%;
  margin: 0 auto !important;
}

.save-btn {
  display: block;
  margin: 20px auto 0;
}

.listing-photos__holder {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

.listing-photos__holder div {
  flex: 1 0 22%;
  margin: 15px;
}

.listing-photos__holder div.material-placeholder {
  max-width: 400px;
}

.listing-photos__holder img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

.listing-photo {
  width: 130px;
  height: 130px;
}

.listing-photo:hover {
  transform: scale(1.4);
}

.fileinpu1t {
  background: #06a8f4;
  padding: 10px;
}
