.lesson--active {
  overflow: visible;
  z-index: 2000;
}

.lesson--active .help-box {
  display: block;
}

.help-box {
  display: none;
  position: absolute;
  left: calc(100% + 10px);
  top: -67px;
  width: 200px;
  text-align: center;
  border-radius: 2px;
  z-index: 2000;
}

.help-box img {
  transform: rotate(-90deg);
}

.help-box p {
  background: #ffffff;
  padding: 5px;
  box-shadow: 6px 6px 12px #000000;
}
