body {
  background: #fafafa;
}

body.welcome {
  background: rgba(254, 254, 254, .25);
  -webkit-font-smoothing: antialiased;
}

.welcome .splash {
  height: 0;
  padding: 0;
  border: 130em solid #039be5;
  position: fixed;
  left: 50%;
  top: 100%;
  display: block;
  box-sizing: initial;
  overflow: hidden;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff .5s 1.8s cubic-bezier(.55, .055, .675, .19) forwards, borderRadius .2s 2.3s linear forwards;
  z-index: 1;
}

.welcome #welcome {
  background: #311b92;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
  animation: init .5s .2s cubic-bezier(.55, .055, .675, .19) forwards, moveDown 1s .8s cubic-bezier(.6, -.28, .735, .045) forwards, moveUp 1s 1.8s cubic-bezier(.175, .885, .32, 1.275) forwards, materia .5s 2.7s cubic-bezier(.86, 0, .07, 1) forwards, hide 2s 2.9s ease forwards;
}


@keyframes init {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 56px;
    height: 56px;
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0;
    padding: 0;
  }

  100% {
    top: 50%;
    height: 100%;
    padding: 0 100%;
    z-index: -1;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }

  100% {
    border-radius: 0;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: #311b92;
    top: 100%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 50%;
    background: #039be5;
  }
}

@keyframes materia {
  0% {
    background: #039be5;
  }

  50% {
    background: #039be5;
    top: 26px;
  }

  100% {
    background: #311b92;
    width: 100%;
    height: 64px;
    border-radius: 0;
    top: 26px;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
