<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SGoods</title>
        <meta charset="UTF-8" content="width=device-width, user-scalable=0, minimal-ui">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script>
        // console.log('debug is ', htmlWebpackPlugin.options);
        console.log("<%= htmlWebpackPlugin.options.debugmode %>");
        if ("<%= htmlWebpackPlugin.options.debugmode %>" === 'false') {
            (function() {
            window.__insp = window.__insp || [];
            __insp.push(['wid', 1674123465]);
            var ldinsp = function(){
            if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1674123465&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
            setTimeout(ldinsp, 0);
            })();
        }
    </script>
</head>
<body class="welcome">

<div id="app" ></div>

</body>
</html>
