.card-category {
  height: 223px !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  transition: all .1s ease-in;
  cursor: pointer;
}

.card-category:hover {
  transform: scale(1.1);
}

.card-category .card-image {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.card-category .category-card__image {
  background: #ebebeb !important;
  border-radius: 50% !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.card-category .card-content {
  padding: 0 !important;
  position: relative;
}

.card-category .card-content p {
  position: absolute;
  bottom: -40px;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 600;
  height: 40px;
  width: 100%;
  color: rgb(51, 51, 51);
  white-space: normal;
  text-align: center;
  opacity: 0.8;
  transition: opacity 200ms ease 0s;
}


/* poster card */
.poster {
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px;
  transition: all .3s ease-in-out;
  background: #ffffff;
  margin-bottom: 16px;
}

.poster:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}

.poster__content {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.poster__content__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.poster__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster__location {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 1px 3px;
  background-color: rgba(51, 51, 51, 0.24);
  color: white;
}

.poster__caption {
  padding: 10px;
}

.poster__price {
  font-size: 18px;
  font-weight: bold;
}

.poster__description {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poster__add-to-favourites {
  position: absolute !important;
  bottom: -19px !important;
  right: 10px !important;
}

.btn--loadMore {
  display: flex;
  margin: 0 auto 40px;
}

.section-content {
  height: 13px;
}

.lesson-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .65);
  left: 0;
  top: 64px;
  z-index: 996;
}

.lesson-bg .close {
  padding: 10px;
  font-size: 34px;
  background: #ffffff;
  color: #ff0000;
  width: 50px;
  cursor: pointer;
  align-items: center;
  top: 80px !important;
  position: fixed;
  left: 15px;
  display: flex;
  height: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}

.lesson-content {
  position: fixed;
  right: 327px;
  top: 81px;
  width: 175px;
  padding: 5px;
  background: #ffffff;
  text-align: center;
  border-radius: 2px;
  box-shadow: 6px 6px #000000;
}

.lesson-content img {
  width: 100%;
  height: 135px;
}
