.listing__user-pic {
  width: 67px;
}

.listing__name {
  width: fit-content;
  color: #000000;
  font-size: 16px;
  margin: 0;
}

.listing__price {
  font-size: 18px;
  margin: 0;
}

.listing__header {
  display: flex;
  padding: 10px;
}

.listing__header::after {
  position: absolute;
}

.listing__key {
  font-size: 14px;
  color: #797979;
  margin-right: 12px;
}

.listing__description {
  padding: 0 10px 10px;
  margin: 0;
  overflow-wrap: anywhere;
}

.listing__description-header {
  border-bottom: 3px solid #03a9f4;
  width: fit-content;
  font-size: 18px;
  margin-top: 0;
}

.listing__photo {
  display: flex;
  flex-grow: 1;
  width: 100px;
}

.listing__photo-row {
  display: flex;
}

.description-block {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.description-block:last-child {
  margin-bottom: 0;
}

.description-block__key {
  width: 119px;
  min-width: 119px;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 14px;
  border-bottom: 2px solid #337ab7;
  color: #2196f3;
  height: fit-content;
}

.description-block__value {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.image-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-contain {
  background-size: contain !important;
  background-repeat: no-repeat;
}

.carousel .slide {
  background: rgba(0, 0, 0, .01) !important;
}

.carousel .control-prev.control-arrow::before {
  border-right: 8px solid blue;
}

.carousel .control-next.control-arrow::before {
  border-left: 8px solid blue;
}

.bottom-modal__container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -50%;
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 36%;
  z-index: 9;
  padding: 20px 50px;
  transition: bottom 1s;
}

.bottom-modal__container.bottom-modal__container--active {
  bottom: 0;
}

.bottom-modal__background {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .66);
  z-index: 8;
  width: 100%;
  height: 100%;
  display: none;
}

.bottom-modal__background.bottom-modal__background--active {
  display: block;
}

.number-input--clear-margin {
  margin: 0;
}

.myDiv {
  margin-bottom: 20px;
}

.announcement-page__header-row {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  width: 100%;
}

.announcement-page__header-row__left {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.announcement-page__header-row__right {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}
