.buy-hint {

}

.ant-card-actions li {
  text-align: center;
}

.modalContCheck .modal-footer {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 12px;
}

.check-messages {
  display: flex;
  flex-direction: column;
}

.user-account--content .ant-card .ant-card-cover {
  position: relative !important;
  width: 100% !important;
  padding-top: 56.25% !important;
}

.ant-card.ant-card-bordered .ant-card-cover img {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  object-fit: contain !important;
}

.user-account--content .ant-card .ant-typography {
  height: 56px !important;
  overflow: hidden !important;
}

.user-account--content .ant-card .ant-descriptions-item-content {
  white-space: nowrap;
}

.ant-card-actions li:nth-child(1) button.right.btn.blue.btn-small.hoverable {
  float: left !important;
}

.user-account--content .ant-card .ant-card-actions {
  padding: 0 10px;
}

.check-messages__row {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.modalContCheck h4 {
  margin-bottom: 32px;
}

.modalContCheck__close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.check-messages__q {
  text-align: left;
}
