.offer-card {
  padding: 10px !important;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.card .offer-card__image {
  width: 100px !important;
  height: 100px !important;
  margin-right: 10px;
}

.card .buyer__photo {
  width: 40px !important;
  height: 40px !important;
}

.frow {
  display: flex;
}

.offer-card .frow {
  justify-content: space-between;
  margin-bottom: 9px;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.frow .fcol:not(:last-child) {
  margin-right: 10px;
}

.fcol p {
  margin-top: 0;
}

.offer-card__status.key {
  margin-bottom: 0;
  color: #999999;
  font-size: 12px;
  margin-right: 4px;
}

.offer-card__status.value {
  margin-bottom: 0;
  font-size: 12px;
}
