.navSection {
  margin-bottom: 60px;
}

.content__registration-page {
  margin: 0 auto;
  width: 70%;
}

.register-form {
  margin: 50px auto 0;
  flex-direction: column;
  display: flex;
  width: 700px;
  align-items: center;
  justify-content: center;
}

.register-form .col {
  margin: 0 auto 24px;
}

@media screen and (max-width: 450px) {
  .register-form {
    margin: 50px 0 0;
    width: 100%;
  }

  .register-form .col {
    width: 85% !important;
  }
}
